{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Acerca de nosotros</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae distinctio unde veritatis minima cumque rem provident repellat nisi? Quisquam voluptate dolorem in iste, odit temporibus repudiandae unde voluptatibus quis animi.
        Voluptatum sapiente minima error facere laudantium quidem tenetur iusto culpa, blanditiis eos nemo et mollitia, quam eveniet dolorem libero ullam provident! Molestias sint illo officiis minus sequi incidunt tempora dicta?
        Eaque, debitis. Omnis nam quia labore, odio quam, possimus ad at eaque deserunt nostrum tempore alias corrupti ex voluptas minima, aliquid illo voluptatum maiores earum! Reiciendis, ipsum provident. Velit, error.</p>
    </div>
    <div class="col-4">
       <img src="assets/img/mega.jpg" alt="" class="img-thumbnail">
    </div>
</div>
{{> footer }}